<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login_Servlet</servlet-name>
        <servlet-class>Controlador.Login_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registro_Servlet</servlet-name>
        <servlet-class>Controlador.Registro_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profesor_Servlet</servlet-name>
        <servlet-class>Controlador.Profesor_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Asignar_Servlet</servlet-name>
        <servlet-class>Controlador.Asignar_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Construir_Servlet</servlet-name>
        <servlet-class>Controlador.Construir_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Materia_Servlet</servlet-name>
        <servlet-class>Controlador.Materia_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Estudiante_Servlet</servlet-name>
        <servlet-class>Controlador.Estudiante_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Examenes_Servlet</servlet-name>
        <servlet-class>Controlador.Examenes_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cuestionario_Servlet</servlet-name>
        <servlet-class>Controlador.Cuestionario_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Resultados_Servlet</servlet-name>
        <servlet-class>Controlador.Resultados_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Crear_Examen_Servlet</servlet-name>
        <servlet-class>Controlador.Crear_Examen_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login_Servlet</servlet-name>
        <url-pattern>/Login_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registro_Servlet</servlet-name>
        <url-pattern>/Registro_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profesor_Servlet</servlet-name>
        <url-pattern>/Profesor_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Asignar_Servlet</servlet-name>
        <url-pattern>/Asignar_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Construir_Servlet</servlet-name>
        <url-pattern>/Construir_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Materia_Servlet</servlet-name>
        <url-pattern>/Materia_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Estudiante_Servlet</servlet-name>
        <url-pattern>/Estudiante_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Examenes_Servlet</servlet-name>
        <url-pattern>/Examenes_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cuestionario_Servlet</servlet-name>
        <url-pattern>/Cuestionario_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Resultados_Servlet</servlet-name>
        <url-pattern>/Resultados_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Crear_Examen_Servlet</servlet-name>
        <url-pattern>/Crear_Examen_Servlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
